<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:action="@{/people}" th:method="POST" th:object="${person}">
    <label for="name">Enter name: </label>
    <input id="name" th:field="*{name}" type="text"/>
    <div style="color:red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</div>
    <br/>
    <label for="age">Enter age: </label>
    <input id="age" th:field="*{age}" type="text"/>
    <div style="color:red" th:errors="*{age}" th:if="${#fields.hasErrors('age')}">Age Error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input id="email" th:field="*{email}" type="text"/>
    <div style="color:red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>